Angkor Wat - the ’City of Temples’ – is the largest temple complex in the world. 

It was built as a Hindu Temple dedicated to the god, Vishnu, as the protector of the Khmer Empire.  

 

The temple dates back to the 12 century and its construction is traced back to the ‘Protector of the Sun’ King Suryavarman – whom historians rank as one of the greatest kings of the Empire.  

To many modern minds, the Angkor Wat is the ultimate masterpiece of classic Khmer architecture. Its five central towers evoke the peaks of Mount Meru, home of the Hindu gods. It was resplendent with more than 1,860 carved Apsara, or heavenly nymphs, and hundreds of meters of elaborate bas reliefs depicting the Hindu legends and scenes from contemporary life.  

 

The Angkor Wat was made a UNESCO World Heritage Site in 1992, following an appeal for help from Norodom Sihanouk. It was also listed under UNESCO’S World Heritage Sites in Danger, which was later removed in 2004, together with UNESCO’s appeal to the international community to save Angkor.  

 

Apsara was established in 1995 to protect and manage the area, and a law to protect Cambodian heritage was passed in 1996. 

 

Today, the Angkor Wat is considered a popular tourist destination, attracting millions visitors ever year. 